<div class="container mt-top">
    <div class="forgot">
    <h3>Quên mật khẩu</h3>
        <form method="post" action="">
            {{#if msgErr}}
                <div class="alert alert-danger" role="alert">
                    {{msgErr}}
                </div>
            {{/if}}
            {{#if msg}}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {{/if}}
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">

            <button type="submit" class="btn btn-primary mt-4">Xác nhận</button>
        </form>
    </div>

</div>