<div class="mt-62">
    <div class>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thành
                    viên</li>
            </ol>
        </nav>
    </div>

    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="col-md-3">
                <div class="media border p-3">
                    <img src="/img/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>John Doe</h4>
                        <p>Chỉnh sửa thông tin</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush list-profile">
                    <li class="list-group-item"><a class="text-body" href="/profile">Tài khoản của tôi</a></li>
                    <li class="list-group-item"><a class="text-body" href="/password">Đổi mật khẩu</a></li>
                    <li class="list-group-item"><a class="text-body" href="#">Đơn mua</a>
                        <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item"><a class="text-body" href="#">Sản phẩm yêu thích</a>
                        <span class="badge badge-primary badge-pill">12</span>
                    </li>
                    <li class="list-group-item"><a class="text-body" href="#">Đăng xuất</a></li>
                </ul>
            </div>

            <div class="col-md-9 p-3 mb-5 bg-white rounded box-profile" style="border: solid #e6e6e6 1px;">
                <h2>Đổi mật khẩu</h2>
                <p style="color: #666666;">Để bảo mật tài khoản, vui lòng
                    không chia sẻ mật khẩu cho người khác</p>
                <hr>
                <form id="compareForm">
                    <div class="form-group row">
                        <label for="pwd_ht" class="col-sm-3 col-form-label">Mật khẩu hiện
                            tại</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="pwd_ht">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pwd_new" class="col-sm-3 col-form-label">Mật
                            khẩu mới</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="password1" name="password1" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmation_pwd" class="col-sm-3 col-form-label">Nhập lại mật
                            khẩu mới</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="password2" name="password2" required>
                        </div>
                    </div>
                    <p id="message"></p>

                    <div class="form-group row" style="margin-left: 212px; margin-bottom: 50px;">
                        <button class="btn btn-success" type="submit">Xác
                            nhận</button>                       
                </form>

            </div>
        </div>
    </div>
</div>
</div>

<script>
    document.getElementById('compareForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;
        var messageElement = document.getElementById('message');

        if (password1 === password2) {
            messageElement.innerText = "Mật khẩu khớp!";
            messageElement.style.color = "green"; // Đổi màu thông báo thành màu xanh
        } else {
            messageElement.innerText = "Mật khẩu không khớp!";
            messageElement.style.color = "red"; // Đổi màu thông báo thành màu đỏ
        }
    });
</script>
