<div class="mt-62">
    <div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thành viên</li>
        </ol>
    </nav>
</div>

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-3">
            <div class="media border p-3">
                <img src="/img/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>John Doe</h4>
                    <p>Chỉnh sửa thông tin</p>
                </div>
            </div>
            <ul class="list-group list-group-flush list-profile">
                <li class="list-group-item"><a class="text-body" href="/profile">Tài khoản của tôi</a></li>
                <li class="list-group-item"><a class="text-body" href="/password">Đổi mật khẩu</a></li>
                <li class="list-group-item"><a class="text-body" href="/cart">Đơn mua</a>
                    <span class="badge badge-primary badge-pill">5</span>
                </li>
                <li class="list-group-item"><a class="text-body" href="#">Sản phẩm yêu thích</a>
                    <span class="badge badge-primary badge-pill">12</span>
                </li>
                <li class="list-group-item"><a class="text-body" href="#">Đăng xuất</a></li>
            </ul>
        </div>

        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded box-profile" style="border: solid #e6e6e6 1px;">
            <h2>Thông tin cá nhân</h2>
            <p style="color: #666666;">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
            <hr>
            <form>
                <div class="form-group row">
                    <label for="tendn" class="col-sm-2 col-form-label">Tên đăng
                        nhập</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tendn">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ten" class="col-sm-2 col-form-label">Tên</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ten">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sdt" class="col-sm-2 col-form-label">Số điện
                        thoại</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="sdt">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gioitinh" class="col-sm-2 col-form-label">Giới
                        tính</label>
                    <div class="col-sm-9">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="nam" name="gioitinh" class="custom-control-input">
                            <label class="custom-control-label" for="nam">Nam</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="nu" name="gioitinh" class="custom-control-input">
                            <label class="custom-control-label" for="nu">Nữ</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="khac" name="gioitinh" class="custom-control-input">
                            <label class="custom-control-label" for="khac">Khác</label>
                        </div>
                    </div>
                </div>
                <h2>Thông tin nhận hàng</h2>
                <br>
                <div class="form-group row">
                    <label for="tp" class="col-sm-2 col-form-label">Tỉnh/Thành phố</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tp">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="quan" class="col-sm-2 col-form-label">Quận/Huyện</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="quan">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phuong" class="col-sm-2 col-form-label">Phường/Xã</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="phuong">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="diachi" class="col-sm-2 col-form-label">Địa chỉ</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="diachi">
                    </div>
                </div>
                <div class="form-group row" style="margin-left: 142px; margin-bottom: 50px;">
                    <button class="btn btn-success" type="submit">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
