<div class="container mt-100">
    <div class="reset">
    <h3>Quên mật khẩu</h3>
        <form method="post" action="?_method=PUT&email={{email}}">
            {{#if msgErr}}
                <div class="alert alert-danger" role="alert">
                    {{msgErr}}
                </div>
            {{/if}}
            {{#if msg}}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {{/if}}
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu mới!">

            <label for="confirm_password">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Nhập lại mật khẩu mới!">

            <input type="hidden" name="email" value="{{email}}">
            <button type="submit" class="btn btn-primary mt-4">Xác nhận</button>
        </form>
    </div>

</div>