<div class="container mt-35">
    <div class="account">
        <span id="or-text">Or</span>
       <div class="login">
            <form action="">
                <h3>Đăng nhập</h3>
                <label for="">Tên đăng nhập</label>
                <input type="text" name="" id="">
                <label for="">Mật Khẩu</label>
                <input type="password" name="" id="">
                <input type="submit" name="" id="" value="Đăng Nhập">
            </form>
       </div>
       <div class="register">
             <form action="">
                <h3>Đăng nhập</h3>
                <label for="">Tên đăng nhập</label>
                <input type="text" name="" id="">
                <label for="">Số Điện Thoại</label>
                <input type="phone" name="" id="">
                <label for="">Mật Khẩu</label>
                <input type="password" name="" id="">
                <label for="">Nhắc Lại Mật Khẩu</label>
                <input type="password" name="" id="">
                <input type="submit" name="" id="" value="Đăng kí">
            </form>
       </div>
    </div>
</div>