<div class="container">
    <div class="mt-top">
        <h1 class="title">{{blog.title}}</h1>
        <p class="card-text"><small class="text-muted">{{formatDate this.createdAt "Asia/Ho_Chi_Minh" "DD-MM-YYYY"}}</small></p>
        <div class="content">
            {{{blog.content}}}
        </div>
    </div>
</div>