
.ml-2 {
  margin-left: 2px;
}

.mt-header {
  margin-top: 114px;
}

.mt-top {
  margin-top: 140px;
}

/* navbar top */
.col-nav1 {
  color: white;
  width: 100%;
  line-height: 3em;
  font-size: small;
  margin-left: 50px;
  font-weight: 500;
}

.col-nav2 {
  color: white;
  width: 100%;
  line-height: 3em;
  font-size: small;
  text-align: right;
  margin-right: 50px;
  font-weight: 500;
}

#a-nav {
  text-decoration: none;
  color: white;
}

/* navbar top */

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


/* main content */
.main-content {
  width: 100%;
  background-size: cover;
  background-position: 70%;
  background-color: #fff;
}

.header-client .logo-header {
  height: 100%;
  width: 85px;
}

#nav {
  display: inline-block;
}

#nav>li {
  display: inline-block;
}

#nav li {
  position: relative;
  list-style-type: none;
}

#nav>li>a {
  color: #000;
}

#nav li a {
  padding: 0px 24px;
  text-decoration: none;
  line-height: 46px;
  display: block;
}

#nav .subnav li:hover a,
#nav>li:hover>a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: #000;
  line-height: 38px;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav .nav-arrow-down {
  font-size: 12px;
  font-weight: 700;
}

.header-user ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.input-group {
  width: 300px;
  margin: 10px;
}

.icon-user i {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.icon-cart i {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.icon-heart {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.icon-header a {
  color: black;
  display: inline-block;
}

.suggestions-box {
  // border: 1px solid #ccc;
  // max-height: 200px;
  // overflow-y: auto;
  // display: none;
  // position: absolute;
  // background-color: white;
  // z-index: 1000;
  // width: 300px;
  // margin-top: 41px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 300px;
  margin-top: 41px;
}

.suggestion-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}

.suggestion-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.suggestion-info {
  display: flex;
  flex-direction: column;
}

.suggestion-info a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.suggestion-info p {
  color: #666;
  margin: 0;
  font-size: 14px;
}
// .suggestions-box a {
//   display: block;
//   padding: 8px;
//   text-decoration: none;
//   color: black;
// }

// .suggestions-box a:hover {
//   background-color: #f1f1f1;
// }

/* main content */

/* Home.hbs */
.heart {
  color: #000;
  /* Màu xám mặc định */
  cursor: pointer;
}

.heart.active {
  color: red;
  /* Màu đỏ khi được chọn */
}

/* Home.hbs */
/*help*/
.card-help {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 3em;
}

/*help*/

.footer a {
  color: #000 !important;
}



/* sale.hbs */
.sale-price-discount {
  border: 1px solid #e71a3c;
  color: #e71a3c;
  border-radius: 3px;
  padding: 2px 5px;
  background: #ffe9ea;
  height: 30px;
}

.shoes-percent {
  position: absolute;
  z-index: 9;
}

.pro-sale {
  display: block;
  background: red;
  color: white;
  text-align: center;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 0 0 10px 10px;
}

/* sale.hbs */
.footer ul {
  list-style-type: none;
}

.footer li {
  padding: 10px;
  font-size: 13px;
}

.footer .text-footer {
  font-size: 25px;
  font-weight: 500;
}

.socials-list {
  font-size: 20px;
}

.socials-list a {
  padding: 6px;
  color: black;
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.form-arrange {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

.form-search {
  display: flex;
  height: 35px;
  margin-top: 30px;
  margin-right: 10px;
}

.form-search input {
  margin: 0;
  padding: 0;
  height: 38px;
  width: 250px;
}

#category {
  height: 35px;
  width: 250px;
  margin-left: 10px;
}

.title-product {
  height: 70px;
  width: 100%;
}

.title-product p {
  font-weight: 700;
  margin-top: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  border-bottom: #ddd 1px solid;
}

.box-shoe a {
  text-decoration: none;
  color: black;
}

.bgsale p {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 30px #00b3ff, 0 0 40px #00b3ff, 0 0 50px #00b3ff, 0 0 60px #00b3ff, 0 0 70px #00b3ff;
  transition: text-shadow 0.5s ease;
}

.bgsale p:hover {
  text-shadow: 0 0 20px #00e6ff, 0 0 30px #00e6ff, 0 0 40px #00e6ff, 0 0 50px #00e6ff, 0 0 60px #00e6ff, 0 0 70px #00e6ff, 0 0 80px #00e6ff;
}

.bgsale {
  background-image: url(/img/backgroudsale2.png);
  background-size: cover;
}

.showfull {
  text-align: center;
  margin-top: 20px;
}

.showfull a {
  font-size: 20px;
}

.filter {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

// .filter .row p {
//   font-size: 40px;
//   text-align: left;
//   line-height: 100px;
// }

.filterForm {
  width: 400px;
}

.mt-35 {
  margin-top: 35px;
}

.caption {
  text-align: left;
  margin-top: 5px;
}

.account {
  margin: 15px auto;
  width: 90%;
  min-height: 700px;
  position: relative;
}

.account::before {
  border-right: 1px solid #ddd;
  height: 100%;
  position: absolute;
  content: " ";
  right: 50%;
  top: 0;
}

span#or-text {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-style: italic;
  background-color: #fff;
  z-index: 1;
  display: block;
}

.login {
  float: left;
  width: 40%;
}

.account label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.account input[type="text"],
.account input[type="password"],
.account input[type="phone"],
.account input[type="email"] {
  padding: 9px;
  background-color: #fff;
  color: #444;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 96%;
  margin-bottom: 20px;
}

.account h3 {
  text-align: center;
  padding-bottom: 30px;
}

.register {
  float: right;
  width: 40%;
}

.account input[type="submit"] {
  padding: 9px;
  background-color: #333;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.cart-list .table-product {
  width: 400px;
}

.quantity input {
  width: 40px;
}

.quantity button {
  border: hidden;
  background-color: #fff;
  border: 1px solid #cccccc7a;
}

.cart-total ul {
  list-style-type: none;
}

.total {
  color: red;
}

.cart-address p {
  font-size: 20px;
  color: red;
}

.cart-address input[type="text"],
.cart-address input[type="phone"] {
  width: 400px;
  height: 50px;
  border: hidden;
  border: 1px solid #cccccc7a;
  border-radius: 0.25rem;
}

.cart-address-tp .input-text {
  width: 400px;
  height: 50px;
  border: hidden;
  border: 1px solid #cccccc7a;
  margin-top: 10px;
  border-radius: 0.25rem;
}

.cart-address textarea {
  resize: vertical;
  margin-top: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-address .cart-button {
  width: 200px;
  margin-top: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.order-buy {
  width: 100%;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.order-add {
  width: 200px;
  margin-top: 10px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
}

.size {
  display: grid;
  grid-template-columns: 113px 1fr;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.size-option input {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #212529;
  border: hidden;

}

.product-name {
  font-family: Arial, Helvetica, sans-serif;
}

.price {
  color: red;
}

.detail-product {
  background-color: #f0f0f0;
  height: 50px;
  padding-left: 5px;
}

.detail-product h4 {
  line-height: 50px;
}

.list-profile a {
  color: black;
}

.box-profile {
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}

.box-pay {
  padding: 26px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.forgot {
  width: 600px;
  margin: auto;
  height: 300px;
  border: 1px solid #ccc;
  padding: 20px 11px;
}

.reset {
  width: 600px;
  margin: auto;
  height: 350px;
  border: 1px solid #ccc;
  padding: 20px 11px;
}

.size-option {
  display: flex;
  flex-wrap: wrap;
}

.size-option input[type="radio"] {
  display: none;
}

.size-option label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #fff;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  border: 1px solid white;
}

.size-option input[type="radio"]:checked+label {
  border: 2px solid red;
}

.size-option label:hover {
  border-color: red;
}

//Wishlist
.box-wishlist {
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.box-wishlist .wishlist-title {
  font-size: 24px;
  line-height: 1.333;
  border-bottom: 1px solid #ddd;
}

.wishlist-content .card {
  margin-top: 32px;
  border: none;
}

.wishlist-content img {
  width: 100%;
}

.wishlist-btn .btn {
  height: 45px;
}

.wishlist-add-to-cart {
  background-color: #000;
  color: #fff;
}

.wishlist-add-to-cart:hover {
  background-color: #333;
}

//BLOGS
.blog-size {
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

.blog-size img {
  width: 80%;
  -webkit-transition: all 1.5s;
}

.blog-size img:hover {
  transform: scale(1.1);
}

.product-policy {

}

.product-policy .product-policy-item {
  padding: 15px 20px;
}

.product-policy .product-policy-item i {
  color: red;
  font-size: 20px;
}

.product-policy p{
  font-size: 12px;
  margin-top: 5px;
}

.btn-heart {
  background-color: #fff;
}