.ml-2 {
    margin-left: 2px;
}

.icon-user i{
    
   font-size: 25px;
   padding: 10px;
}
.icon-cart i{
    
   font-size: 25px;
   padding: 10px;
}
.icon-header a{
    color: black;
    display: inline-block;
}
.footer ul{
    list-style-type:none;
}
.footer li{
    padding: 10px;
    font-size: 15px;
}
.footer .text-footer{
    font-size: 25px;
    font-weight: 700;
}
.socials-list{
    font-size: 20px;
}
.socials-list a{
    padding: 6px;
    color: black;
}
