.ml-2 {

  margin-left: 2px;
}
.mt-100{
margin-top: 100px;
}
.header-client{
  background-color: #fff !important;
  height: 62px;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.header-client .logo-header{
  height: 100%;
  width: 76px;
}
#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
  list-style-type: none;
}

#nav > li > a{
  color: #000;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  background-color: #fff;
  min-width: 190px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav{
  display: block;
}

#nav .subnav a {
  color: #000;
  line-height: 38px;
}
#nav ul{
  padding: 0;
  margin: 0;
}
#nav .nav-arrow-down {
  font-size: 12px;
  font-weight: 700;
}
.header-user ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.icon-user i {
  font-size: 25px;
  padding: 10px;
}
.icon-cart i {
  font-size: 25px;
  padding: 10px;
}
.icon-header a {
  color: black;
  display: inline-block;
}
.footer ul {
  list-style-type: none;
}
.footer li {
  padding: 10px;
  font-size: 15px;
}
.footer .text-footer {
  font-size: 25px;
  font-weight: 700;
}
.socials-list {
  font-size: 20px;
}
.socials-list a {
  padding: 6px;
  color: black;
}
.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.form-arrange{
  display: flex;
  line-height: 100px;
}
.form-search{
  display: flex;
  height: 35px;
  margin-top: 30px;
  margin-left: 20px;
}
.form-search input{
  margin: 0;
  padding: 0;
  height: 38px;
}
#category{
  height: 35px;
}
.title-product {
  height: 100px;
  width: 100%;
  border-top: 1px solid;
}
.title-product p {
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}
.box-shoe a {
  text-decoration: none;
  color: black;
}
.showfull{
  text-align: center;
  margin-top: 20px;
}
.showfull a{
  font-size: 20px;
}
.filter {
  height: 60px;
  width: 100%;
}
.filter .row p {
  font-size: 40px;
  text-align: left;
  line-height: 100px;
}
.filterForm{
  width: 300px;
}
.mt-35 {
  margin-top: 35px;
}
.caption {
  text-align: center;
  margin-top: 5px;
}
.account {
  margin: 15px auto;
  width: 90%;
  min-height: 600px;
  position: relative;
}
.account::before {
  border-right: 1px solid #ddd;
  height: 100%;
  position: absolute;
  content: " ";
  right: 50%;
  top: 0;
}
span#or-text {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-style: italic;
  background-color: #fff;
  z-index: 1;
  display: block;
}
.login {
  float: left;
  width: 40%;
}
.account label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.account input[type="text"],
.account input[type="password"],
.account input[type="phone"],
.account input[type="email"] {
  padding: 9px;
  background-color: #fff;
  color: #444;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 96%;
  margin-bottom: 20px;
}
.account h3 {
  text-align: center;
  padding-bottom: 30px;
}
.register {
  float: right;
  width: 40%;
}
.account input[type="submit"] {
  padding: 9px;
  background-color: #333;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.cart-list .table-product {
  width: 400px;
}
.quantity input {
  width: 40px;
}
.quantity button {
  border: hidden;
  background-color: #fff;
  border: 1px solid #cccccc7a;
}
.cart-total ul {
  list-style-type: none;
}
.total {
  color: red;
}
.cart-address p {
  font-size: 20px;
  color: red;
}
.cart-address input[type="text"],
.cart-address input[type="phone"] {
  width: 400px;
  height: 50px;
  border: hidden;
  border: 1px solid #cccccc7a;
  border-radius: 0.25rem;
}

.cart-address-tp .input-text {
  width: 400px;
  height: 50px;
  border: hidden;
  border: 1px solid #cccccc7a;
  margin-top: 10px;
  border-radius: 0.25rem;
}
.cart-address textarea {
  resize: vertical;
  margin-top: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cart-address button {
  width: 200px;
  margin-top: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.order-buy {
  width: 200px;
  margin-top: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.order-add {
  width: 200px;
  margin-top: 10px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
}
.size {
  display: grid;
  grid-template-columns: 113px 1fr;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.size-option input{
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #212529;
  border: hidden;

}
.product-name{
  font-family: Arial, Helvetica, sans-serif;
}
.price{
  color: red;
}
.detail-product{
  background-color: darkgray;
  height: 50px;
}
.detail-product h4{
  line-height: 50px;
}
.mt-62{
  margin-top: 62px;
}
.list-profile a {
  color: black;
}
.box-profile{
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}