<div class="container error">
    <img src="https://i.imgur.com/qIufhof.png" alt="404" class="image-404">
    <h1>404</h1>
    <h2>Oops! Không tìm thấy trang</h2>
    <p>Trang bạn đang tìm kiếm không tồn tại hoặc đã bị xóa.</p>
    <a href="/">Quay về trang chủ</a>
</div>