<div class="container mt-top">
    <h3>CÂU HỎI THƯỜNG GẶP</h3>
    <hr>
    <div class="row mt-4">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Làm cách nào để tôi trả hàng?
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Bạn có thể trả lại đơn hàng mua đã trên ứng dụng hoặc website của cửa hàng trong vòng 30 ngày, kể từ
                    ngày nhận được đơn hàng.
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample1" aria-expanded="false"
                aria-controls="collapseExample1">
                Khi nào tôi được hoàn tiền?
            </a>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    <p>
                        Chúng tôi sẽ xử lý hoàn tiền cho bạn ngay sau khi sản phẩm bạn trả lại được kiểm tra bởi nhóm
                        đảm bảo chất lượng của chúng tôi và được xác nhận rằng sản phẩm phù hợp với chính sách hoàn tiền
                        của chúng tôi. Quy trình kiểm tra chất lượng có thể mất 2 tuần, mặc dù nhìn chung thời gian có
                        thể ngắn hơn.

                        Sau khi hàng trả lại đã được phê duyệt, phải mất 1-2 ngày để cửa hàng trực tuyến hoàn
                        tiền cho nhà cung cấp dịch vụ thanh toán của bạn (ví dụ: nhà cung cấp thẻ tín dụng của bạn). Xin
                        lưu ý rằng thời gian dành cho nhà cung cấp dịch vụ thanh toán hoàn tiền cho bạn có thể thay đổi
                        tùy theo nhà cung cấp.

                        Thông thường, thời gian xử lý hoàn tiền sẽ lâu hơn nếu bạn thanh toán bằng hình thức Tiền mặt
                        khi giao hàng.
                    </p>
                    <p>
                        Nếu bạn đã thanh toán bằng hình thức Tiền mặt khi giao hàng, chúng tôi sẽ hoàn tiền cho bạn theo
                        một hình thức hoàn tiền được bảo đảm bởi các đại lý dịch vụ khách hàng của chúng tôi, và chúng
                        tôi cần thông tin chi tiết ngân hàng của bạn. Điều quan trọng là bạn đảm bảo cung cấp chi tiết
                        tài khoản ngân hàng đầy đủ và chính xác (tên tài khoản, tên ngân hàng, số tài khoản chính xác)
                        để tránh mọi sự chậm trễ không cần thiết do thông tin không chính xác. Nếu bạn không có tài
                        khoản ngân hàng, chúng tôi sẽ không thể xử lý hoàn tiền trực tiếp. Thay vào đó, bạn sẽ nhận được
                        một phiếu giảm giá bằng với giá trị hoàn tiền để sử dụng cho lần mua hàng trực tuyến tiếp theo
                        của mình.


                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample2" aria-expanded="false"
                aria-controls="collapseExample2">
                Tại sao đơn hàng trực tuyến của tôi bị hủy?
            </a>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    <p>Đôi khi chúng tôi phải hủy đơn hàng. Điều này có thể vì một số lý do, bao gồm:</p>
                    <ul>
                        <li>Tình trạng còn hàng. Rất có thể kích cỡ của bạn đã hết hàng trước khi chúng tôi có thể xử lý
                            đơn
                            hàng của bạn.</li>
                        <li>Các vấn đề về thanh toán. Thanh toán của bạn không được thực hiện hoặc chúng tôi không thể
                            xác minh
                            chi tiết thanh toán của bạn.</li>
                        <li>Vấn đề về địa chỉ giao hàng. Bạn có thể đã vô tình nhập một địa chỉ giao hàng không chính
                            xác hoặc
                            không đầy đủ mà chúng tôi không thể xử lý.</li>
                        <li>Bạn sẽ không bị tính phí cho các sản phẩm bị hủy. Nếu đơn hàng của bạn, hoặc một phần của
                            đơn hàng,
                            bị hủy, bạn sẽ được hoàn tiền đối với các sản phẩm bị hủy.</li>
                        <li>Để hiểu rõ lý do tại sao đơn hàng của bạn bị hủy, chúng tôi khuyên bạn nên liên hệ đội ngũ
                            dịch vụ
                            khách hàng của cửa hàng trực tuyến và họ sẽ hỗ trợ bạn.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample3" aria-expanded="false"
                aria-controls="collapseExample3">
                Làm thế nào để tôi theo dõi đơn hàng hoặc tình trạng đơn hàng của tôi?
            </a>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    Khi đơn hàng của bạn được gửi từ kho của chúng tôi, bạn sẽ nhận được email xác nhận giao hàng kèm
                    theo mã số theo dõi và liên kết để theo dõi đơn hàng trực tuyến. Sau đó, bạn có thể theo dõi đơn
                    hàng của mình thông qua trình theo dõi trực tuyến. Có thể có chậm trễ trong việc cập nhật trạng thái
                    của một đơn hàng trên trang web, tuy nhiên hãng vận chuyển thường cập nhật thông tin của đơn hàng
                    trong vòng một ngày làm việc. Thông tin theo dõi sẽ có ngay khi bạn nhận được email này, tuy nhiên,
                    xin lưu ý rằng cho đến khi hãng vận chuyển cập nhật lên hệ thống kèm thông tin theo dõi của bạn thì
                    bạn mới có thể theo dõi đơn hàng của mình.
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample4" aria-expanded="false"
                aria-controls="collapseExample4">
                Thời gian giao hàng là khi nào?
            </a>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    <p>
                        Sau khi tạo đơn hàng thành công, đơn hàng của bạn sẽ được xử lý và giao ra <b>trong vòng 5 đến
                            12
                            ngày làm việc</b> tiếp theo, tùy thuộc vào địa điểm giao hàng.
                    </p>
                    <p>Thời gian giao hàng dự kiến sẽ được <b>hiển thị tại trang thanh toán</b>.</p>
                    <p>Lưu ý rằng thời gian giao hàng có thể chậm hơn so với dự kiến đối với các đơn hàng được đặt vào
                        ngày
                        lễ hoặc khi chúng tôi có quá nhiều đơn hàng.</p>
                    <p><b>Quy tắc Giao hàng và Hạn chế:</b></p>
                    <ul>
                        <li>Miễn phí vận chuyển cho tất cả đơn hàng từ 2,000,000 VND. Đối với đơn hàng dưới 2,000,000
                            VND, phí vận chuyển mặc định là 70,000 VND.</li>
                        <li>Đơn hàng chỉ được vận chuyển vào ngày làm việc. Ngày làm việc là thứ Hai đến thứ Bảy, 9 giờ
                            sáng tới 6 giờ chiều, không tính các ngày lễ.</li>
                        <li>Tất cả các đơn hàng giao phải được ký nhận.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample5" aria-expanded="false"
                aria-controls="collapseExample5">
                Làm cách nào để tìm thấy sản phẩm tôi đang tìm kiếm?
            </a>
            <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                    Nếu bạn cần trợ giúp tìm sản phẩm, hãy sử dụng chức năng tìm kiếm sản phẩm ở đầu bất kỳ trang nào.
                    <br>
                    Chỉ cần nhập (các) từ khóa hoặc số sản phẩm vào hộp tìm kiếm và nhấn Enter. <br>
                    Kết quả tìm kiếm sẽ hiển thị trên trang, với các liên kết đến các sản phẩm hoặc nhóm sản phẩm cụ
                    thể. <br>
                    Mẹo tìm kiếm : Hãy chắc chắn rằng bạn gõ đúng các từ tìm kiếm để đảm bảo kết quả chính xác. Sử dụng
                    nhiều từ để tìm các loại sản phẩm cụ thể.
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <a class="card-help" data-toggle="collapse" href="#collapseExample6" aria-expanded="false"
                aria-controls="collapseExample6">
                Làm cách nào để tôi có thể thanh toán?
            </a>
            <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                    Quy trình thanh toán đơn giản của chúng tôi được thiết kế để giúp bạn hoàn thành đơn hàng và kết
                    thúc chuyến thăm mua sắm trực tuyến nhanh chóng và dễ dàng. <br>
                    Nếu bạn đã đăng ký địa chỉ email của mình với website cửa hàng của chúng tôi trước đó, bạn có thể sử
                    dụng địa chỉ email của mình để đăng nhập. Nếu không, bạn có thể
                    thanh toán với tư cách là khách hoặc tạo một tài khoản. <br>
                    <ul>
                        <li>Việc có tài khoản sẽ cho bạn quyền truy cập vào các tính năng tiện dụng như sổ địa chỉ và
                            lịch sử đặt hàng cá nhân của bạn.</li>
                        <li>Hai bước đầu tiên của quy trình thanh toán sẽ yêu cầu địa chỉ giao hàng và địa chỉ thanh
                            toán của bạn.</li>
                        <li>Nếu bạn đã lưu trữ một địa chỉ trong các lần thanh toán trước, bạn cũng có thể sử dụng sổ
                            địa chỉ để chọn địa chỉ này.</li>
                    </ul>
                    Tiếp theo là thông tin thanh toán. <br>
                    <ul>
                        <li>Khi bạn đã nhập tất cả dữ liệu của mình trên trang này và nhấp vào tiếp tục, tiền sẽ chỉ
                            được chuyển đi từ thẻ của bạn sau khi bạn xác nhận đơn hàng trên trang tiếp theo.</li>
                        <li>Xin lưu ý rằng để đảm bảo an toàn cho dữ liệu của bạn, dữ liệu thẻ
                            của bạn sẽ không được lưu trữ trên hệ thống của chúng tôi.</li>
                    </ul>
                    Khi bạn hoàn thành thông tin thanh toán, bạn sẽ truy cập vào màn hình có thông tin tổng quan về đơn
                    hàng của bạn.
                    <ul>
                        <li>Vui lòng kiểm tra tất cả thông tin trên trang này, vì đây là cơ hội cuối cùng để bạn chỉnh
                            sửa.</li>
                        <li>Sau khi nhấn "Xác nhận Đơn hàng", đơn hàng của bạn sẽ được xử lý và gửi đến kho.</li>
                        <li>Từ thời điểm này, nếu bạn đã đăng ký với cửa hàng trực tuyến, bạn có thể theo dõi đơn hàng
                            trong tài khoản của mình.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>