<div class="container">
    <div class="box-wishlist mt-100">
        <div class="wishlist-title row">
            <div class="col-6">
                <p>DANH SÁCH YÊU THÍCH</p>
            </div>
            <div class="col-6">
                <p style="float: right;">2 mặt hàng</p>
            </div>
        </div>

        <div class="wishlist-content">

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="/uploads/1709126897676.jpg" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h2 class="card-title">Giày cao gót</h2>
                            <p class="card-text"><b>Giá:</b> 250.000 VND</p>
                            <p class="card-text"><b>Size:</b> 32</p>
                            <p class="card-text" ><small class="text-muted">Còn hàng</small></p>

                            <p>
                                <div class="row wishlist-btn">
                                    <div class="col-10">
                                        <button class="btn btn-block wishlist-add-to-cart"><b>THÊM VÀO GIỎ HÀNG</b></button>

                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-block btn-danger"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="/uploads/1709126897676.jpg" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h2 class="card-title">Giày cao gót</h2>
                            <p class="card-text"><b>Giá:</b> 250.000 VND</p>
                            <p class="card-text"><b>Size:</b> 32</p>
                            <p class="card-text" ><small class="text-muted">Còn hàng</small></p>

                            <p>
                                <div class="row wishlist-btn">
                                    <div class="col-10">
                                        <button class="btn btn-block wishlist-add-to-cart"><b>THÊM VÀO GIỎ HÀNG</b></button>

                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-block btn-danger"><i class="fa-solid fa-trash"></i></button>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

</div>