@charset "UTF-8";
@font-face {
  font-family: "SFUFuturaRegular";
  src: url("/font/typeface/SFUFuturaRegular.woff2") format("woff2"), url("/font/typeface/SFUFuturaRegular.woff") format("woff"), url("/font/typeface/SFUFuturaRegular.TTF") format("truetype");
  /* Định dạng ttf */
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "SFUFuturaRegular", sans-serif;
}

.ml-2 {
  margin-left: 2px;
}

.mt-header {
  margin-top: 75px;
}

.mt-top {
  margin-top: 101px;
}

/* navbar top */
.col-nav1 {
  color: white;
  width: 100%;
  line-height: 3em;
  font-size: 13px;
  margin-left: 35px;
}

.col-nav2 {
  color: white;
  width: 100%;
  line-height: 3em;
  font-size: 13px;
  text-align: right;
  margin-right: 35px;
}

#a-nav {
  text-decoration: none;
  color: white;
}

/* navbar top */
.header {
  z-index: 100;
}

#navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 39px;
  right: 0;
  left: 0;
  display: block;
  transition: top 0.3s;
  z-index: 100;
}

/* main content */
.main-content {
  width: 100%;
  background-size: cover;
  background-position: 70%;
  background-color: #fff;
}

.header-client .logo-header {
  height: 100%;
  width: 85px;
}

#nav {
  display: inline-block;
  margin-left: 15px;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
  list-style-type: none;
}

#nav > li > a {
  color: #000;
}

#nav li a {
  padding: 0px 24px;
  text-decoration: none;
  line-height: 46px;
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav a {
  color: #000;
  line-height: 38px;
}

#nav ul {
  padding: 0;
  margin: 0;
}

#nav .nav-arrow-down {
  font-size: 12px;
  font-weight: 700;
}

.header-user ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.input-group {
  width: 300px;
  margin: 10px;
}

.icon-user i {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.icon-head {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.icon-header a {
  color: black;
  display: inline-block;
}

.suggestions-box {
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 300px;
  margin-top: 41px;
}

.suggestion-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}

.suggestion-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.suggestion-info {
  display: flex;
  flex-direction: column;
}

.suggestion-info a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.suggestion-info p {
  color: #666;
  margin: 0;
  font-size: 14px;
}

/* main content */
/* Home.hbs */
.heart {
  color: #000;
  /* Màu xám mặc định */
  cursor: pointer;
}

.heart.active {
  color: red;
  /* Màu đỏ khi được chọn */
}

/* Home.hbs */
/*help*/
.card-help {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 3em;
}

/*help*/
.footer a {
  color: #000 !important;
}

/* sale.hbs */
.sale-price-discount {
  border: 1px solid #e71a3c;
  color: #e71a3c;
  border-radius: 3px;
  padding: 2px 5px;
  background: #ffe9ea;
  height: 30px;
}

.shoes-percent {
  position: absolute;
  z-index: 9;
}

.pro-sale {
  display: block;
  background: red;
  color: white;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 0 0 10px 10px;
}

/* sale.hbs */
.footer ul {
  list-style-type: none;
}

.footer li {
  padding: 10px;
  font-size: 13px;
}

.footer .text-footer {
  font-size: 25px;
  font-weight: 500;
}

.socials-list {
  font-size: 20px;
}

.socials-list a {
  padding: 6px;
  color: black;
}

.user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.form-arrange {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
}

.form-search {
  display: flex;
  height: 35px;
  margin-top: 30px;
  margin-right: 10px;
}

.form-search input {
  margin: 0;
  padding: 0;
  height: 38px;
  width: 250px;
}

#category {
  height: 35px;
  width: 250px;
  margin-left: 10px;
}

.title-product {
  height: 70px;
  width: 100%;
}

.title-product p {
  font-weight: bold;
  margin-top: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  border-bottom: #ddd 1px solid;
}

.box-shoe a {
  text-decoration: none;
  color: black;
}

.bgsale p {
  text-align: center;
  font-size: 40px;
  margin-top: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 30px #00b3ff, 0 0 40px #00b3ff, 0 0 50px #00b3ff, 0 0 60px #00b3ff, 0 0 70px #00b3ff;
  transition: text-shadow 0.5s ease;
}

.bgsale p:hover {
  text-shadow: 0 0 20px #00e6ff, 0 0 30px #00e6ff, 0 0 40px #00e6ff, 0 0 50px #00e6ff, 0 0 60px #00e6ff, 0 0 70px #00e6ff, 0 0 80px #00e6ff;
}

.bgsale {
  background-image: url(/img/backgroudsale2.png);
  background-size: cover;
}

.showfull {
  text-align: center;
  margin-top: 20px;
}

.showfull a {
  font-size: 20px;
}

.filter {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.filterForm {
  width: 400px;
}

.mt-35 {
  margin-top: 35px;
}

.caption {
  text-align: left;
  margin-top: 5px;
}

.account {
  margin: 15px auto;
  width: 90%;
  min-height: 700px;
  position: relative;
}

.account::before {
  border-right: 1px solid #ddd;
  height: 100%;
  position: absolute;
  content: " ";
  right: 50%;
  top: 0;
}

span#or-text {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-style: italic;
  background-color: #fff;
  z-index: 1;
  display: block;
}

.login {
  float: left;
  width: 40%;
}

.account label {
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

.account input[type=text],
.account input[type=password],
.account input[type=phone],
.account input[type=email] {
  padding: 9px;
  background-color: #fff;
  color: #444;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 96%;
  margin-bottom: 20px;
}

.account h3 {
  text-align: center;
  padding-bottom: 30px;
}

.register {
  float: right;
  width: 40%;
}

.account input[type=submit] {
  padding: 9px;
  background-color: #333;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 400;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

.shopping-cart {
  border: 1px solid #ccc;
  padding: 0 20px;
  border-radius: 8px;
}

.shopping-cart h1 {
  font-size: 25px;
  margin: 0;
  padding: 10px 0;
  margin-top: 15px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.shopping-cart p {
  padding: 10px 0;
  margin-top: 0 0 15px;
}

.cart-list {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
}

.cart-list .table-product {
  width: 400px;
}

.table-borderless > tbody > tr > td {
  border: none;
}

.table-borderless > thead > tr > th {
  border: none;
  border-bottom: 1px solid #ccc;
}

.note-orders {
  background: #f3f4f4;
  padding: 15px;
  margin: 10px 15px 10px;
  height: 120px;
  border-radius: 5px;
}

.note-orders textarea {
  padding: 10px 15px;
  width: 100%;
  height: 35px;
  resize: none;
  border: 1px solid #dfe0e1;
  box-shadow: none;
}

.note-label {
  display: block;
  margin: 0px 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.quantity input {
  width: 40px;
}

.quantity button {
  border: hidden;
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.4784313725);
}

.total {
  font-weight: 400;
  color: red;
  font-size: 24px;
}

.cart-total ul {
  list-style-type: none;
}

.btn-order {
  display: block;
  margin: 0 auto;
  /* Giúp nút nằm giữa */
  background-color: #ff0000;
  /* Màu đỏ cho nút */
  color: white;
  /* Màu chữ trắng */
  padding: 10px 20px;
  /* Khoảng cách bên trong nút */
  border: none;
  /* Xóa đường viền */
  border-radius: 5px;
  /* Bo tròn góc nút */
  font-size: 16px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Chữ đậm */
  cursor: pointer;
  /* Thay đổi con trỏ khi hover */
  transition: background-color 0.3s ease;
  /* Hiệu ứng mượt khi hover */
}

/* Hiệu ứng khi hover */
.btn-order:hover {
  background-color: #cc0000;
  /* Đổi màu nút khi hover */
}

.cart-address {
  width: 100%;
  margin: 0px auto;
  padding-right: 50px;
}

.cart-address h1 {
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.cart-address input[type=text],
.cart-address input[type=phone] {
  width: 100%;
  height: 50px;
  border: hidden;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 12px;
}

.cart-address-tp .input-text {
  width: 400px;
  height: 50px;
  border: hidden;
  border: 1px solid rgba(204, 204, 204, 0.4784313725);
  margin-top: 10px;
  border-radius: 0.25rem;
}

.cart-address textarea {
  resize: vertical;
  margin-top: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-address .cart-button {
  width: auto;
  margin-top: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  /* Chữ đậm */
  transition: background-color 0.3s ease;
  /* Hiệu ứng mượt khi hover */
}

.cart-address .cart-button:hover {
  background-color: #cc0000;
  /* Đổi màu nút khi hover */
}

.cart-pay .cart-button {
  width: auto;
  margin-top: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  /* Chữ đậm */
  transition: background-color 0.3s ease;
  /* Hiệu ứng mượt khi hover */
}

.cart-pay .cart-button:hover {
  background-color: #cc0000;
  /* Đổi màu nút khi hover */
}

.cart-pay {
  margin: 0px auto;
  padding-right: 50px;
}

.cart-pay h1 {
  font-size: 25px;
  text-transform: uppercase;
}

.payment-option {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.payment-option:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #ccc;
}

.payment-option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.payment-option img {
  margin-right: 10px;
  width: 40px;
  /* Tăng kích thước hình ảnh */
  height: 40px;
  margin-right: 10px;
  /* Khoảng cách giữa hình ảnh và chữ */
}

.form-check-input {
  margin-right: 15px;
  /* Khoảng cách giữa ô radio và nhãn */
}

.cart-button {
  margin-top: 20px;
}

.order-buy {
  width: 100%;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.order-add {
  width: 200px;
  margin-top: 10px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
}

.size {
  display: grid;
  grid-template-columns: 113px 1fr;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.size-option input {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #212529;
  border: hidden;
}

.product-name {
  font-size: 24px;
  margin: 10px 0 15px;
}

.price {
  font-size: 25px;
  font-weight: 500;
  color: #e50000;
}

.detail-product {
  background-color: #f0f0f0;
  height: 50px;
  padding-left: 5px;
}

.detail-product h4 {
  line-height: 50px;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 600;
}

.list-profile a {
  text-decoration: none;
  color: black;
}

.list-profile .fa {
  font-size: 14px;
  margin-right: 5px;
  min-width: 17px;
}

.box-profile {
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}

.box-pay {
  padding: 20px 0px;
  margin-top: 10px;
}

.forgot {
  width: 600px;
  margin: auto;
  height: 300px;
  border: 1px solid #ccc;
  padding: 20px 11px;
}

.reset {
  width: 600px;
  margin: auto;
  height: 350px;
  border: 1px solid #ccc;
  padding: 20px 11px;
}

.size-option {
  display: flex;
  flex-wrap: wrap;
}

.size-option input[type=radio] {
  display: none;
}

.size-option label {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #fff;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  border: 1px solid white;
}

.size-option input[type=radio]:checked + label {
  border: 2px solid red;
}

.size-option label:hover {
  border-color: red;
}

.box-wishlist {
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.box-wishlist .wishlist-title {
  font-size: 24px;
  line-height: 1.333;
  border-bottom: 1px solid #ddd;
}

.wishlist-content .card {
  margin-top: 32px;
  border: none;
}

.wishlist-content img {
  width: 100%;
}

.wishlist-btn .btn {
  height: 45px;
}

.wishlist-add-to-cart {
  background-color: #000;
  color: #fff;
}

.wishlist-add-to-cart:hover {
  background-color: #333;
}

.notification {
  position: relative;
}

.notification .badge {
  position: absolute;
  top: -1px;
  right: -7px;
  padding: 0px 3px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 11px;
  min-width: 20px;
  height: 20px;
  line-height: 19px;
}

.blog-size {
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

.blog-size img {
  width: 80%;
  -webkit-transition: all 1.5s;
}

.blog-size img:hover {
  transform: scale(1.1);
}

.product-policy .product-policy-item {
  padding: 15px 20px;
}

.product-policy .product-policy-item i {
  color: red;
  font-size: 20px;
}

.product-policy p {
  font-size: 14px;
  margin-top: 5px;
}

.btn-heart {
  background-color: #fff;
}

.box-img-shoes:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.box-shoes {
  border: solid #e6e6e6 1px;
}

.box-shoes:hover {
  border: 1px solid #777;
}

.thumb-img ul {
  display: flex;
  flex-wrap: wrap;
  /* Cho phép nội dung được trải ra nhiều hàng */
  margin-top: 2px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.thumb-img .w-30 {
  flex: 0 0 calc(33.3333333333% - 1.5px);
  /* chia thành 3 ô 1 hàng */
  box-sizing: border-box;
}

.thumb-img ul li img {
  width: 100%;
  /* Đảm bảo ảnh chiếm toàn bộ không gian của thẻ <li> */
  display: block;
  transition: opacity 0.3s ease;
  /* Thêm hiệu ứng chuyển đổi khi thay đổi độ mờ */
}

.thumb-img ul li img:hover {
  opacity: 0.7;
  /* Khi chạm vào, ảnh sẽ mờ đi */
}

.process-container {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.process-bar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  position: relative;
}

.process-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ccc;
  z-index: 1;
  transform: translateY(-50%);
}

.process-step {
  position: relative;
  z-index: 2;
  text-align: center;
  flex: 1;
}

.step-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 60px;
}

.step-number {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.step-number::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: -1;
}

.process-step:last-child .step-number::before {
  display: none;
}

.process-step.active .step-number {
  background-color: #007bff;
  /* Màu xanh cho bước hiện tại */
  color: white;
}

.process-step.completed .step-number {
  background-color: #28a745;
  /* Màu xanh lá khi hoàn thành */
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-step.completed .step-number::before {
  display: none;
}

.category-link {
  text-decoration: none;
  color: #000;
}

.category-link:hover {
  color: #007bff;
}

.ques-box {
  border: solid #e6e6e6 1px;
  margin-right: 50px;
  margin-left: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Đổ bóng */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Hiệu ứng khi hover */
  border-radius: 8px;
  /* Bo góc nhẹ */
}

/* Khi hover vào khung câu hỏi */
.ques-box:hover {
  transform: translateY(-5px);
  /* Nổi lên khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Tăng độ mờ khi hover */
}

.ques-box h6 {
  font-size: 14px;
  padding-top: 15px;
  color: #666;
}

.faq-content {
  display: none;
}

.faq-content.active {
  display: block;
}

.faq-content a:hover {
  text-decoration: none;
  color: #444444;
}

.cart-product-list h1 {
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  position: relative;
}

.product-image-container {
  position: relative;
}

.product-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.product-quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #777;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-details h4 {
  margin: 0 0 10px;
  font-size: 17px;
}

.cart-item-details p {
  margin: 0;
  font-size: 14px;
}

.cart-dropdown {
  position: relative;
  display: inline-block;
}

.cart-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8f8f8;
  width: 450px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3px;
  padding: 20px;
  transition: all 0.3s ease;
  max-height: 420px;
  top: calc(100% + 15px);
  animation: fadeIn ease-in 0.2s;
}

.cart-dropdown-content.open {
  display: block;
}

.cart-dropdown-content::after {
  content: "";
  position: absolute;
  right: 3px;
  top: -28px;
  border-width: 16px;
  border-style: solid;
  border-color: transparent transparent #f8f8f8 transparent;
  cursor: pointer;
}

.cart-dropdown:hover .cart-dropdown-content {
  display: block;
}

.boxtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.table-scroll {
  padding-right: 20px;
  max-height: 220px;
  overflow-y: scroll;
  /* Chỉ cho phép cuộn dọc nếu nội dung quá dài */
  overflow-x: hidden;
  /* Tắt cuộn ngang */
  overscroll-behavior: none;
  margin-right: -20px;
}

/* Tùy chỉnh thanh cuộn dọc */
.table-scroll::-webkit-scrollbar {
  width: 3px;
  /* Độ rộng của thanh cuộn dọc */
}

/* Thiết kế thanh cuộn dọc */
.table-scroll::-webkit-scrollbar-track {
  background: #f8f8f8;
  /* Màu nền của thanh cuộn */
  border-radius: 10px;
}

/* Thiết kế thanh di chuyển */
.table-scroll::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  /* Màu của thanh di chuyển */
  border-radius: 10px;
}

.cart-item-inf > tbody > tr > td,
.cart-item-total > tbody > tr > td,
.cart-item-inf-no-shoe > tbody > tr > td {
  border: none;
  padding: 10px 0;
}

.cart-item-inf {
  width: 100%;
}

.cart-item-inf p {
  margin: 0;
}

.cart-item-inf img {
  width: 80px;
  height: 80px;
}

.cart-item-inf-no-shoe img {
  width: 50%;
}

.cart-item-inf-no-shoe span {
  display: block;
}

.table-price {
  border-top: 1px solid #ccc;
}

.item-price {
  font-weight: bold;
  font-size: 15px;
  color: #333;
  text-align: right;
}

.total-lable {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: red;
}

.btn-view-cart {
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: #33CCFF;
  border-radius: 5px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  color: #000;
}

.btn-view-cart:hover {
  text-decoration: none;
}

.sparkle {
  max-width: 10em;
  color: #441151;
}
.sparkle:hover {
  cursor: pointer;
}

.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 2px;
}
.u-hover--sparkle::before, .u-hover--sparkle::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.u-hover--sparkle::before {
  border-top: 0.2em solid #fea2a5;
  border-bottom: 0.2em solid #fea2a5;
  transform: scale3d(0, 1, 1);
}
.u-hover--sparkle::after {
  border-left: 0.2em solid #fea2a5;
  border-right: 0.2em solid #fea2a5;
  transform: scale3d(1, 0, 1);
}
.u-hover--sparkle:hover::before, .u-hover--sparkle:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 900ms;
}

.error {
  text-align: center;
}

.error h1 {
  font-size: 10rem;
  color: #ff6b6b;
  margin-bottom: 0.5rem;
}

.error h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 1rem;
}

.error p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 2rem;
}

.error a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.error a:hover {
  background-color: #0056b3;
}

.error .image-404 {
  width: 300px;
  height: auto;
  margin-bottom: 15px;
}

.list-group-help a:hover {
  text-decoration: none;
  color: rgb(32, 178, 170);
}

.btn-update {
  display: block;
  margin: 0 auto;
  /* Giúp nút nằm giữa */
  background-color: rgb(30, 144, 255);
  /* Màu  cho nút */
  color: white;
  /* Màu chữ trắng */
  padding: 10px 20px;
  /* Khoảng cách bên trong nút */
  border: none;
  /* Xóa đường viền */
  border-radius: 5px;
  /* Bo tròn góc nút */
  font-size: 16px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Chữ đậm */
  cursor: pointer;
  /* Thay đổi con trỏ khi hover */
  transition: background-color 0.3s ease;
  /* Hiệu ứng mượt khi hover */
}

.btn-update:hover {
  background-color: #6633FF;
}

.btn-accept {
  background-color: #00BB00;
  /* Màu  cho nút */
  color: white;
  /* Màu chữ trắng */
  padding: 10px 20px;
  /* Khoảng cách bên trong nút */
  border: none;
  /* Xóa đường viền */
  border-radius: 5px;
  /* Bo tròn góc nút */
  font-size: 16px;
  /* Kích thước chữ */
  font-weight: bold;
  /* Chữ đậm */
  cursor: pointer;
  /* Thay đổi con trỏ khi hover */
  transition: background-color 0.3s ease;
  /* Hiệu ứng mượt khi hover */
}

.btn-accept:hover {
  background-color: #00AA00;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../resources/scss/app.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;EACE;EACA;AAKA;EACA;EACA;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;AACA;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;AAEA;EACE;;;AAKF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAIF;AACA;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;AAAA;EAEE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EAUE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAcF;AAEA;AACA;EACE;AACA;EACA;;;AAGF;EACE;AACA;;;AAGF;AACA;AACA;EACE;EACA;EACA;EACA;EACA;;;AAGF;AAEA;EACE;;;AAKF;AACA;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;AACA;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;EAIE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;;;AAGF;AACA;EACE;AACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;AACA;EACA;AACA;;;AAGF;EACE;AACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;AACA;EACA;AACA;;;AAGF;EACE;AACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;AACA;EACA;EACA;AACA;;;AAGF;EACE;AACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAIF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAIF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAIF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAKF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAIF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;AACA;EACA;EACA;EACA;EACA;;;AAIF;EACE;AACA;EACA;;;AAIF;EACE;AACA;EACA;EACA;AACA;;;AAGF;EACE;AACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;AACA;EACA;;;AAGF;EACE;AACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAKF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;AACA;EACA;AACA;EACA;AACA;;;AAGF;AACA;EACE;AACA;EACA;AACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;;;AAIF;EACE;EACA;;;AAIF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAIF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;AACA;EACA;AACA;EACA;EACA;;;AAGF;AACA;EACE;AACA;;;AAGF;AACA;EACE;AACA;EACA;;;AAGF;AACA;EACE;AACA;EACA;;;AAGF;AAAA;AAAA;EAGE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAOF;EACE;EACA,OAJO;;AAMP;EACE;;;AAIJ;EAEE;EACA;EACA;;AAEA;EAEE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EAEE;EACA;;;AAKJ;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;;;AAGF;EACE;;;AAGF;EACE;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;EACA;AACA;;;AAGF;EACE%22,%22file%22:%22app.css%22%7D */
