<div class="footer mt-5">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-3">
                <ul>
                    <li><h5>GÓP Ý & KHIẾU NẠI</h5></li>
                    <li>Thời gian: 08:30 - 20:30 mỗi ngày</li>
                    <li class="text-footer">1900.633.349</b></li>
                    <li>Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li><h5>LIÊN HỆ</h5></li>
                    <li>MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)</li>
                    <li class="text-footer">1900.633.349</b></li>
                    <li>Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <h5>THÔNG TIN</h5>
                    </li>
                    <li>Giới thiệu về MWC</li>
                    <li>Than Phiền Góp Ý</li>
                    <li>Chính sách và quy định</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <h5>FAQ</h5>
                    </li>
                    <li>Vận chuyển</li>
                    <li>Chính sách đổi trả</li>
                    <li>Chính sách đổi trả bảo hành</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <h5>THEO DÕI CHÚNG TÔI</h5>
                    </li>
                    <li>
                        <div class="socials-list">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>