<div class="footer mt-5">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-3">
                <ul>
                    <li><h5>VỀ CHÚNG TÔI</h5></li>
                    <li style="text-align: justify;">
                        TOPSHOES là hãng giày chất lượng tại Việt Nam, cam kết mang đến sản phẩm thời trang, bền bỉ và thoải mái. Chúng tôi luôn chú trọng từng chi tiết để đáp ứng sự hài lòng của khách hàng.
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li><h5>LIÊN HỆ</h5></li>
                    <li>MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)</li>
                    <li class="text-footer">1900.633.349</b></li>
                    <li>Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                    </li>
                    <li><a href="/pages/ve-chung-toi">Về chúng tôi</a></li>
                    <li>Chính sách Bảo mật</li>
                    <li>Chính sách đổi trả bảo hành</li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <h5>THEO DÕI CHÚNG TÔI</h5>
                    </li>
                    <li>
                        <div class="socials-list">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>