<div class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <ul>
                    <li>GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)</li>
                    <li class="text-footer">1900.633.349</b></li>
                    <li>Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</li>
                    <li>GÓP Ý & KHIẾU NẠI (08:30 - 20:30)</li>
                    <li class="text-footer">1900.633.349</b></li>
                    <li>Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Thông Tin </li>
                    <li class="ml-2"><sup> > </sup> Giới thiệu về MWC</li>
                    <li class="ml-2"><sup> > </sup> Than Phiền Góp Ý</li>
                    <li class="ml-2"><sup> > </sup> Chính sách và quy định</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>FAQ</li>
                    <li class="ml-2"><sup>></sup>Vận chuyển</li>
                    <li class="ml-2"><sup>></sup>Chính sách đổi trả</li>
                    <li class="ml-2"><sup>></sup>Chính sách đổi trả bảo hành</li>
                    <li class="ml-2">
                        <div class="socials-list">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-youtube"></i></a>
                            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-x-twitter"></i></i></a>
                            <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>