<nav class="navbar navbar-expand-sm  navbar-light header-client">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="logo-header" src="/img/logo.png" alt=""></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 " id="nav">
      <li>
        <a class="nav-link" href="/shoe/shoe-girl" >
          Giày Nữ
        </a>
        <ul class="subnav">
          <li><a href="">Giày Cao Gót</a></li>
          <li><a href="">Giày Thể Thao</a></li>
          <li><a href="">Dép</a></li>
          <li><a href="">Sandal</a></li>
        </ul>
      </li>
       <li>
        <a class="nav-link " href="/shoe/shoe-girl" >
          Giày Nam
        </a>
        <ul class="subnav">
          <li><a href="">Giày Thể Thao</a></li>
          <li><a href="">Sandal</a></li>
          <li><a href="">Dép</a></li>
          <li><a href="">Giày Tây & SLip On</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giày Cặp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sản Phẩm Bán Chạy</a>
      </li>
    </ul>
    <div class="icon-header">
      {{!-- <a href="/register" class="icon-user"><i class="fa-regular fa-user"></i></a> icon user--}}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown " style="cursor: pointer;">
          <a class="nav-link " id="navbardrop" data-toggle="dropdown">
            <img src="/img/avatar.jpg" alt="" class="user-avatar">
            Hi, Trường
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Thông tin cá nhân</a>
            <a class="dropdown-item" href="#">Đơn hàng của tôi</a>
            <a class="dropdown-item" href="#">Đổi mật khẩu</a>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
        <li><a href="/cart" class="icon-cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>

    </div>
  </div>
</nav>