<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>

    {{#if currentUser}}
      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="/img/avatar.jpg" alt="" class="user-avatar">
        Hi, {{currentUser.name}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Thông tin cá nhân</a>
        <div class="dropdown-divider"></div>
        {{#if currentUser.isAdmin}}
        <a class="dropdown-item" href="/me/home">Quản lý thông tin</a>
        {{/if}}
        <a class="dropdown-item" href="=#">Đơn hàng của tôi</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
      </div>
    {{else}}
      <a href="#">Đăng ký</a>
      <a href="/sign-in">Đăng nhập</a>
    {{/if}}
  </div>
</nav>