<nav class="navbar navbar-expand-sm bg-light navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Giày Nữ
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Giày Cao Gót</a>
          <a class="dropdown-item" href="#">Giày Thể Thao</a>
          <a class="dropdown-item" href="#">Sandal Nữ</a>
          <a class="dropdown-item" href="#">Dép Sục</a>
          <a class="dropdown-item" href="#">Dép Nữ</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Giày Nam
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Giày Thể Thao Nam</a>
          <a class="dropdown-item" href="#">Sandal Nam</a>
          <a class="dropdown-item" href="#">Dép Nam</a>
          <a class="dropdown-item" href="#">Giày Tây và SLip On</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giày Cặp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sản Phẩm Bán Chạy</a>
      </li>
    </ul>
    <div class="searchBox">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="icon-header">
      <a href="" class="icon-user"><i class="fa-regular fa-user"></i></a>
      <a href="" class="icon-cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
  </div>
</nav>