<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/me/home" class="brand-link">
    <img src="/admin/access/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/img/avatar.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Hữu Thắng</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview ">
          {{!-- //menu-open --}}
          <a href="#" class="nav-link">
            <i class="fa-solid fa-shoe-prints nav-icon"></i>
            <p>
              Sản phẩm
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/me/create/shoes" class="nav-link">
                <i class="fa-solid fa-square-plus nav-icon"></i>
                <p>Thêm sản phẩm</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/me/stored/shoes" class="nav-link">
                <i class="fa-solid fa-list-check nav-icon"></i>
                <p>Quản lý sản phẩm</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-users nav-icon"></i>
            <p>
              Người dùng
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/me/create/users" class="nav-link">
                <i class="fa-solid fa-square-plus nav-icon"></i>
                <p>Thêm người dùng</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/me/stored/users" class="nav-link">
                <i class="fa-solid fa-people-roof nav-icon"></i>
                <p>Quản lý người dùng</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-cart-shopping nav-icon"></i>
            <p>
              Đơn hàng
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            {{!-- <li class="nav-item">
              <a href="./index.html" class="nav-link">
                <i class="fa-solid fa-square-plus nav-icon"></i>
                <p>Thêm đơn hàng</p>
              </a>
            </li> --}}
            <li class="nav-item">
              <a href="/me/stored/orders" class="nav-link">
                <i class="fa-solid fa-list-check nav-icon"></i>
                <p>Quản lý đơn hàng</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>