<div class=" box-shoe p-3">
    <div class="title-product">
        <a href="">
            <p>Giày Cao Gót Nữ</p>
        </a>
    </div>
    <div class="row">
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="./img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
    </div>
</div>

