<div class="box-shoe-home">
    <div class="title-product">
        <a href=""><p>Giày Cao Gót Nữ</p></a>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">
            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">
            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">

            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">

            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
</div>

<div class="box-shoe-home">
    <hr>
    <div class="title-product">
        <a href=""> <p>Giày Cao Gót Nữ</p> </a>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">
            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">

            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">

            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
    <div class="box-product">
        <img src="/img/NUCG- G018.jpg" alt="">
        <div class="shoe-name">
            <a href=""> <p>Giày cao gót MWC NUCG- G018</p></a>
        </div>
        <div class="price">
            235.000 đ
        </div>
    </div>
</div>