<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid">
        <div class="content-header">
            <h1>Đăng sản phẩm:</h1>
        </div>
        {{#if err}}
        <div class="alert alert-danger" role="alert">
            {{err}}
        </div>
        {{/if}}
        <form action="/me/store/shoes" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col mx-sm-3">
                    <div class="form-group">
                        <label for="name">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sản phẩm">
                    </div>

                    <div class="form-group">
                        <label for="type">Kiểu giày</label>
                        <select class="form-control" id="type" name="type">
                            <option value="" selected>-- Chọn kiểu giày --</option>
                            <option value="Giày nam">Giày nam</option>
                            <option value="Giày nữ">Giày nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typeDetail">Kiểu dáng</label>
                        <input type="text" class="form-control" id="typeDetail" name="typeDetail"
                            placeholder="Nhập kiểu dáng">
                    </div>

                    <div class="form-group">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control content" id="description" name="description"
                            placeholder="Nhập mô tả"></textarea>
                    </div>

                </div>

                <div class="col mx-sm-3">
                    <div class="form-group">
                        <label for="quantity">Số lượng hàng trong kho</label>
                        <input type="text" class="form-control" id="quantity" name="quantity"
                            placeholder="Nhập số lượng hàng trong kho">
                    </div>

                    <div class="form-group">
                        <label for="status">Tình trạng hàng</label>
                        <select class="form-control" id="status" name="status">
                            <option value="" selected>-- Tình trạng hàng --</option>
                            <option value="1">Còn hàng</option>
                            <option value="0">Đã hết hàng</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">Giá gốc</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Nhập giá gốc">
                    </div>

                    <div class="form-group">
                        <label for="priceDiscount">Giá giảm</label>
                        <input type="text" class="form-control" id="priceDiscount" name="priceDiscount"
                            placeholder="Nhập giá giảm">
                    </div>

                    <div class="form-group">
                        <label for="image">Ảnh đại diện</label>
                        <input type="file" class="form-control-file" id="image" name="image" >
                    </div>

                    <div class="form-group">
                        <label for="images">Ảnh mô tả sản phẩm</label>
                        <input type="file" class="form-control-file" id="images" multiple name="images" >
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary mx-sm-3">Đăng sản phẩm</button>
        </form>
    </div>
</div>