<div class=" box-shoe p-3">
    <div class="filter">
        <div class="row">
            <div class="col">
                <p>Giày nữ</p>
            </div>
            <div class="col mt-35">
                <form id="filterForm">
                    <label for="category">Sắp xếp:</label>
                    <select id="category">
                        <option value="">Giá Từ Cao Xuống Thấp</option>
                        <option value="Electronics">Giá Từ Thấp Lên Cao</option>
                        <option value="Clothing">Ngày</option>
                        <option value="Books">Tên</option>
                    </select>
                    <label for="maxPrice">Giá:</label>
                    <input type="number" id="maxPrice" min="0">
                    <button type="button" onclick="filterProducts()">Filter</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <img class="img-fluid" src="/img/NUCG- G018.jpg" alt="" width="100%">
                <div class="caption">
                    <a href="">
                        <p>Giày cao gót MWC NUCG- G018</p>
                    </a>
                    <h3>235.000 đ</h3>
                </div>
            </div>
        </div>
    </div>
</div>