<div class="container-fluid ">
    <div class="row mt-100">
        <div class="col">
            <img src="/img/NUCG- G018.jpg" alt="" width="100%">
        </div>
        <div class="col ">

            <h3 class="product-name">Giày cao gót MWC NUCG- G018</h3>
            <h3 class="price">235.000 đ</h3>
            <div class="size mt-5">
                <div><label for="">Kích thước</label></div>
                <div class="size-option">
                    <input type="button" class="btn btn-danger" name="" id="" value="36">
                    <input type="button" class="btn btn-danger" name="" id="" value="37">
                    <input type="button" class="btn btn-danger" name="" id="" value="38">
                    <input type="button" class="btn btn-danger" name="" id="" value="39">
                    <input type="button" class="btn btn-danger" name="" id="" value="40">
                    <input type="button" class="btn btn-danger" name="" id="" value="41">
                    <input type="button" class="btn btn-danger" name="" id="" value="42">
                </div>
            </div>
            <div class="order">
                <button type="button" class="btn order-buy">Mua Ngay</button>
                <button type="button" class="btn order-add"><i class="fa-solid fa-cart-shopping"></i> Thêm vào giỏ
                    hàng</button>
            </div>

            <div class="detail mt-5 ">
                <div class="detail-product col-12 border">
                    <h4>Chi tiết sản phẩm</h4>
                </div>
                <div class="col-12 border p-3">
                     <h6>MÃ SẢN PHẨM : Giày cao gót MWC NUCG- G018</h6>
                <ul>
                    <li>Thiết kế với dáng mũi vuông, quai dây ngang đính đá phối dây chéo sành điệu, giày sử dụng chất liệu da tổng hợp thời trang.</li>
                    <li>Giày sandal cao gót với dáng gót trụ nhỏ  vững chắc giúp cho nàng hoàn toàn tự tin trên từng bước chân.</li>
                    <li>Được thiết kế form chuẩn với bàn chân của phụ nữ Việt Nam, sườn 4 lớp mang đến sự vững chắc giúp cho các nàng hoàn toàn tự tin trên từng bước chân.</li>
                    <li>Phù hợp đi tiệc, đi làm, công sở, đi học, đi chơi, du lịch.</li>
                </ul>
                <h6>Chi tiết sản phẩm</h6>
                <ul>
                    <li>Chiều cao : khoảng 11cm</li>
                    <li>Chất liệu : da tổng hợp</li>
                    <li>Đế : êm mềm, độ đàn hồi tốt, chống trơn trượt</li>
                    <li>Kiểu dáng : Sandal cao gót</li>

                </ul>
                </div>
            </div>
        </div>
    </div>
</div>